
{% extends  base %}
{% block  content %}


<form id="loginForm" action="/auth/login">
    <label for="username">
        Username
        <input type="text"  name="username" id="username" required>
    </label>
    <label for="password">
        password (min 10 characters)
        <input type="password" name="password" id="password" required>
    </label>
    <button>Send</button>
</form>

<h2>Token</h2>
<p id="token"></p>
<h2>Username</h2>
<p id="userName"></p>
            
{% endblock %}