.home {

    &__brands {

        &__outer-container {
            border-top: 1px solid $accent-color;
            border-bottom: 1px solid $accent-color;
            padding: 0.3rem 0;
        }

        &__inner-container {
            border-top: 2px solid $accent-color;
            border-bottom: 2px solid $accent-color;
            box-shadow: 0px 0px 15px $accent-color;
            overflow: hidden;
            width: 100%;

            .marquee {
                color: $white-color;

                &__content {
                    list-style: none;
                    padding: 0.3rem 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    animation: brands-scroll 20s linear infinite;
                    

                    @keyframes brands-scroll {
                        0% {
                            transform: translateX(0);
                        }

                        100% {
                            transform: translateX(-180vw);
                        }
                    }

                    li {
                        width: 20vw;
                        min-width: 20vw;
                        flex-shrink: 0;
                        text-align: center;
                    }
                }
            }
        }
    }

    &__collections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 80rem;
        margin: 3rem auto;

        &__link {
            margin: 0 1rem;
            flex-grow: 1;
            align-items: stretch;
            text-decoration: none;

            &--new {
                background-image: url('../media/collections/new.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                min-width: 15rem;
                height: 22rem;
                margin: 1rem 0;
                border-radius: $border-radius-sm;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            &--storage {
                background-image: url('../media/collections/watch-storage.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                min-width: 15rem;
                height: 22rem;
                margin: 1rem 0;
                border-radius: $border-radius-sm;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            &--outlet {
                background-image: url('../media/collections/outlet.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                min-width: 15rem;
                height: 22rem;
                margin: 1rem 0;
                border-radius: $border-radius-sm;
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }

            @media (min-width: 560px) {
                &--outlet {
                    max-width: calc(50% - 1rem);
                }
            }

            @media (min-width: 833px) {
                &--outlet {
                    max-width: 100%;
                }
            }

            span {
                width: calc(100% - 2rem);
                -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                background-color: $nav-transparent-color;
                padding: 2rem 1rem;
                color: $black-color;
                text-align: center;
                font-size: $text-m;
            }
            

        }
    }

    &__quality {
        border-bottom: 1px solid $accent-color;
        padding-bottom: 0.3rem;
        margin-bottom: 5rem;
        background: linear-gradient(270deg, rgba(38,60,91,1) 0%, rgba(8,12,18,0) 65%);
        
        &__wrapper {
            border-bottom: 2px solid $accent-color;
            box-shadow: 0px 3px 3px transparentize($accent-color, 0.3);
    
            .scroll-magic-container {
                margin: 0 auto;
                margin-bottom: 4rem;
                margin-top: 4rem;
                position: relative;
                height: 15vh;
            
                &__image {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-70%);
                    height: 15vh;
                    transition: all 0.7s ease;
            
                    &--1 {
                        z-index: 7;
                        opacity: 0;
                        transition-delay: 2.1s;
                    }
                    &--2 {
                        z-index: 6;
                        opacity: 0;
                        transition-delay: 1.8s;
                    }
                    &--3 {
                        z-index: 5;
                        opacity: 0;
                        transition-delay: 1.5s;
                    }
                    &--4 {
                        z-index: 4;
                        opacity: 0;
                        transition-delay: 1.2s;
                    }
                    &--5 {
                        z-index: 3;
                        opacity: 0;
                        transition-delay: 0.9s;
                    }
                    &--6 {
                        z-index: 2;
                        opacity: 0;
                        transition-delay: 0.6s;
                    }
                    &--7 {
                        z-index: 1;
                        opacity: 0;
                        transition-delay: 0.3s;
                    }
                    &--8 {
                        z-index: 0;
                        opacity: 0;
                        transition-delay: 0s;
                    }
                }
            
                @include small { 
                    &__image {
                        height: 25vh; 
                    }    
                }
                @include medium { 
                    &__image {
                        height: 35vh; 
                    }    
                }
                @include large { 
                    &__image {
                        height: 40vh; 
                    }    
                }
                @include extra-large { 
                    &__image {
                        height: 40vh; 
                    }    
                }
            
            }
    
            @include small { 
                .scroll-magic-container {
                    height: 25vh; 
                }    
            }
            @include medium { 
                .scroll-magic-container {
                    height: 35vh; 
                }    
            }
            @include large { 
                .scroll-magic-container {
                    height: 40vh; 
                }    
            }
            @include extra-large { 
                .scroll-magic-container {
                    height: 40vh; 
                }    
            }
            
            .fade-in__watch-pieces {
                opacity: 1;
                transform: translateX(-50%);
            }
    
            p {
                color: $white-color;
                max-width: 60rem;
                margin: 0 auto;
                margin-bottom: 4rem;
            }
        }
    }

    &__explore {
        margin-bottom: 5rem;
    }

    &__newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $accent-color;
        border-bottom: 1px solid $accent-color;
        margin-bottom: 5rem;

        &__image {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__call-to-action {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;

            a {
                width: 15rem;
                display: block;
            }
        }
    }

    @include medium { 
        &__newsletter {
            flex-direction: row;

            &__image {
                width: 50%;
                margin: 0;
            }

            &__call-to-action {
                margin: 0;
            }
        }    
    }

    @include large { 
        &__newsletter {
            flex-direction: row;

            &__image {
                width: 50%;
                margin: 0;
            }

            &__call-to-action {
                margin: 0;
            }
        }    
    }

    @include extra-large { 
        &__newsletter {
            flex-direction: row;

            &__image {
                width: 50%;
                margin: 0;
            }

            &__call-to-action {
                margin: 0;
            }
        }    
    }

    &__buying-process {

        &__animation {
            position: relative;
            height: 50vh;
            

            &__bg {
                background-image: url('../media/buying-process/watch_bg-mobile.png');
                width: 100%;
            }

            &__middle {
                width: 20%;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }
    }
    

}





