.login {
    background: url('../media/auth/Login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: translateY(-4rem);
    height: 100vh;
    width: 100%;
    margin-bottom: -4rem;
}