{% extends  base %}
{% block  content %}

<section class="wishlist h-layout">
    <span class="wishlist__decorative__title">Wishlist</span>
    <h1 class="wishlist__title">Wishlist</h1>

    <ul>
        {% for  wishlistProduct in wishlistProducts %}
            <li>
                <span style="color:white;">{{wishlistProduct.title}}</span>
                <img src="/media/products/{{wishlistProduct.image}}" />

                <p class="brand" style="color:white;">{{wishlistProduct.brand}}</p>
                <p style="color:white;">{{wishlistProduct.price}}</p>

            <li>
        {% endfor %}
    </ul>    

</section>

{% endblock %}