<nav class="nav">

    <div class="nav__actions">
        <svg class="nav__actions__close" id="hamburger-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M18.121 16l6.44-6.439a1.5 1.5 0 10-2.122-2.122L16 13.879l-6.44-6.44a1.501 1.501 0 00-2.119 2.123l-.001-.001L13.88 16l-6.44 6.439a1.5 1.5 0 002.12 2.122l6.44-6.44 6.44 6.44c.292.293.676.439 1.06.439s.767-.146 1.06-.439c.272-.271.44-.647.44-1.061s-.168-.79-.44-1.061L18.121 16z"></path></svg>
        <a id="profileLink" href="/login">
            <svg class="nav__actions__account" xmlns="http://www.w3.org/2000/svg" width="21.875" height="25"><path d="M15.312 14.844c-1.4 0-2.075.781-4.375.781s-2.969-.781-4.375-.781A6.564 6.564 0 000 21.406v1.25A2.344 2.344 0 002.344 25h17.187a2.344 2.344 0 002.344-2.344v-1.25a6.564 6.564 0 00-6.563-6.562zm4.219 7.813H2.344v-1.25a4.226 4.226 0 014.219-4.219c.713 0 1.87.781 4.375.781 2.524 0 3.657-.781 4.375-.781a4.226 4.226 0 014.219 4.219zm-8.594-8.594a7.031 7.031 0 10-7.031-7.032 7.033 7.033 0 007.032 7.032zm0-11.719A4.688 4.688 0 116.25 7.031a4.695 4.695 0 014.688-4.687z" fill="#f1f1f1" data-name="Group 1232"/></svg>  
        </a>
    </div>
    
    <svg class="nav__border" xmlns="http://www.w3.org/2000/svg" width="1318" height="37.927"><defs><filter id="a" x="0" y="0" width="1318" height="33" filterUnits="userSpaceOnUse"><feOffset/><feGaussianBlur stdDeviation="5" result="blur"/><feFlood flood-color="#f4be18" flood-opacity=".678"/><feComposite operator="in" in2="blur"/><feComposite in="SourceGraphic"/></filter><filter id="b" x="0" y="6.927" width="1318" height="31" filterUnits="userSpaceOnUse"><feOffset/><feGaussianBlur stdDeviation="5" result="blur-2"/><feFlood flood-color="#f4be18" flood-opacity=".561"/><feComposite operator="in" in2="blur-2"/><feComposite in="SourceGraphic"/></filter></defs><g data-name="Group 1151"><g filter="url(#a)" transform="translate(0 -.001)"><path data-name="Path 96" d="M15 16.5h1288" fill="none" stroke="#f4be18" stroke-width="3"/></g><g filter="url(#b)" transform="translate(0 -.001)"><path data-name="Path 97" d="M15 22.43h1288" fill="none" stroke="#f4be18"/></g></g></svg>

    <ul class="nav__list">
        <li class="nav__list__item">
            <a href="/men">Men</a>
        </li>
        <li class="nav__list__item">
            <a href="/women">Women</a>
        </li>
        <li class="nav__list__item nav__list__item--accesoiries">
            <button id="accesoires-dropdown">Accesoiries</button>
            <svg class="nav__list__item__chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M15.7 21.82l-8.26-8.26a1.5 1.5 0 112.12-2.12l.001.001 6.14 6.138 6.14-6.139a1.5 1.5 0 112.122 2.121l-8.26 8.26z"></path></svg>
        </li>
        <ul class="accesoires-dropdown__options">
            <li><a href="/watch-storages">Watch Storages</a></li>
            <li><a href="/bands">Watch Bands</a></li>
        </ul>
        <li class="nav__list__item">
            <a href="/outlet">Outlet</a>
        </li>
        <li class="nav__list__item">
            <a href="/contact">Contact us</a>
        </li>
        <li class="nav__list__item">
            <a href="/about">About us</a>
        </li>
    </ul>
</nav>