<div class="detail__reviews__overlay">
    <div class="form">
        <h2>Share your experience</h2>
        <form id="reviewForm" action="/auth/register">
            <div>
                <input type="text"  name="username" id="username" required >
                <label class="label" for="username">Username</label>
                <span class="input-border"></span>
            </div>
            <div>
                <input type="email"  name="email" id="email" required >
                <label class="label" for="email">Email</label>
                <span class="input-border"></span>
            </div>
            <div>
                <input type="password" name="password" id="password" required >
                <label class="label" for="password">Password <small>(min 10 characters)</small></label>
                <span class="input-border"></span>
            </div>
            <button id="reviewButton" class="form-button">Send</button>
        </form>
    </div>
</div>