<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body>
    {% include "components/header.njk" %}
    <main class="main">
        {% block  content %}{% endblock %}
    </main>
    {% include "components/footer.njk" %}


    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/about.js"></script>
    <script src="/scripts/registration.js"></script>
    <script src="/scripts/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/page-loader.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="/scripts/watch-pieces.js"></script>
    <script src="/scripts/map.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/scripts/swiper.js"></script>

    <script src="/scripts/filterToggle.js"></script>
    <script src="/scripts/filterOptions.js"></script>
    <script src="/scripts/cookie.js"></script>

    <script src="/scripts/detailSpecifications.js"></script>

    <script src="/scripts/reviewForm.js"></script>
  </body>
</html>