{% extends  base %}
{% block  content %}
<section class="hero">    
    <video class="hero__video hero__video--mobile" autoplay loop muted>
        <source src="media/hero-video_homepage-mobile.mp4" type="video/mp4">
    </video>

    <video class="hero__video hero__video--desktop" autoplay loop muted>
        <source src="media/hero-video_homepage.mp4" type="video/mp4">
    </video>

    <video class="hero__video hero__video--ultrawide" autoplay loop muted>
        <source src="media/hero-video_homepage-ultra-wide.mp4" type="video/mp4">
    </video>

    <div class="hero__title h-layout">
        <h1>Discover our collection of watches</h1>
        <section class="hero__call-to-action h-layout">
            <a href="#" class="primary-button">Men</a>
            <a href="#" class="primary-button">Women</a>
        </section>
    </div>

</section>

<section class="home__brands">
    <div class="home__brands__outer-container">
        <div class="home__brands__inner-container">

            <div class="marquee">
                <ul class="marquee__content">
                    <li>Panerai</li>
                    <li>Omega</li>
                    <li>Rolex</li>
                    <li>Breitling</li>
                    <li>Cartier</li>
                    <li>hublot</li>
                    <li>Piaget</li>
                    <li>Certina</li>
                    <li>Chopard</li>
                    <li>Panerai</li>
                    <li>Omega</li>
                    <li>Rolex</li>
                    <li>Breitling</li>
                    <li>Cartier</li>
                </ul>
            </div>

        </div>
    </div>
    
</section>

<section class="home__collections">
        <a class="home__collections__link" href="#">
            <div class="home__collections__link--new">
                <span>New Collection</span>            
            </div>
        </a>
        <a class="home__collections__link" href="#">
            <div class="home__collections__link--storage">
                <span>Watch Storage</span>
            </div>
        </a>
        <a class="home__collections__link" href="#">
            <div class="home__collections__link--outlet">
                <span>Outlet</span>             
            </div>
        </a>
</section>






{# <div class="page-loader">
    <div class="page-loader__text">
        <div class="page-loader__text__hide">
            <span class="page-loader__text__hide__inner-text">“Time is a resource. One that must be</span>
        </div>
        <div class="page-loader__text__hide">
            <span class="page-loader__text__hide__inner-text">used to the maximum, as it can not be</span>
        </div>
        <div class="page-loader__text__hide">
            <span class="page-loader__text__hide__inner-text">replenished.”</span>
        </div>
        <div class="page-loader__text__hide page-loader__text__hide--brandname">
            <span class="page-loader__text__hide__inner-text page-loader__text__hide__inner-text--brandname">Timeless Taste</span>
        </div>
    </div>
</div>
<div class="slider"></div> #}
{% endblock %}



