{% extends  base %}
{% block  content %}

<section class="detail__product h-layout">
    <img src='/media/products/{{productDetails[0].image}}' alt={{productDetails[0].title}}>

    <div class="detail__product__description">
        <h1>{{productDetails[0].title}}</h1>
        <ul>
            <li>
                <span class="description__info">Brand:</span>
                <span>{{productDetails[0].brand}}</span>
            </li>
            <li>
                <span class="description__info">Price:</span>
                <span>{{productDetails[0].price}}</span>
            </li>
            <li>
                <span class="description__info">Colors:</span>
                {% for productColor in productColors %}
                    <span class="description__colors" style="background: #{{productColor.color}}"></span>
                {% endfor %}
            </li>
        </ul>

        <p>{{productDetails[0].description}}</p>

        <div class="detail__product__description__call-to-action">
            <button class="primary-button add">Add to bag</button>
            <button class="secondary-button call-to-action__wishlist">
                <svg xmlns="http://www.w3.org/2000/svg" width="28.564" height="25"><path d="M25.573 1.803a8.4 8.4 0 00-11.292.837A8.4 8.4 0 002.99 1.803a8.441 8.441 0 00-.59 12.341l9.785 9.969a2.93 2.93 0 004.2.006l9.785-9.969a8.447 8.447 0 00-.597-12.347zm-1.317 10.46l-9.785 9.969a.229.229 0 01-.379 0l-9.785-9.968a5.753 5.753 0 01.407-8.407 5.656 5.656 0 017.615.586l1.953 1.992 1.953-1.992a5.652 5.652 0 017.615-.591 5.778 5.778 0 01.407 8.412z" fill="#f1f1f1"/></svg>
            </button>
        </div>
    </div>
</section>

{% include "components/detailSpecs.njk" %}

<section class="detail__reviews h-layout">
    <div class="title__flex-container">
        <h2>Reviews</h2>
        <button class="secondary-button" id="review__form__open__btn">Share your experience</button>
    </div>

    <ul class="detail__reviews__list">
        {% for review in reviews %}
            <li>
                <div class="flex-container">
                    <p>{{review.username}}</p>
                    <span>{{review.rating}} / 5</span>
                </div>
                <span class="review-title">{{review.title}}</span>
                <p>{{review.text}}</p>
                <small>{{review.createdAt}}</small>
            </li>
        {% endfor %}
    </ul> 
    {# <p>{{review.email}}</p> #}
</section>

{% include "components/reviewForm.njk" %}

<section class="detail__related h-layout">
    <h2>Related Products</h2>

    <div class="swiper-container mySwiper">
      <ul class="swiper__watches swiper-wrapper">
        {% for relatedProduct in relatedProducts %}
            <li class="watch swiper-slide">
                <a href="/products/{{watch.id}}">
                    <span class="watch__brand">{{relatedProduct.brand}}</span>
                    <img class="watch__image" src="/media/products/{{relatedProduct.image}}" alt="{{relatedProduct.title}}">
                    <span class="watch__devider"></span>
                    <span class="watch__name">{{relatedProduct.title}}</span>
                    <div class="watch__background"></div>
                </a>
            </li>
        {% endfor %}   
      </ul>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

</section>

{% endblock %}