@use '../abstracts/functions' as func;

.hero {
    position: relative;
    z-index: -1;
    transform: translateY(-4.5rem);
    width: 100%;
    
    &__video {
        width: 100%;
        height: 100%;

        &--desktop,
        &--ultrawide {
            display: none;
        }

        @include medium { 
            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            } 

            &--ultrawide {
                display: none;
            }   
        }

        @include large { 
            &--mobile,
            &--ultrawide {
                display: none;
            }

            &--desktop {
                display: block;
            }      
        }

        @include extra-large { 
            &--mobile,
            &--desktop {
                display: none;
            }

            &--ultrawide {
                display: block;
            }   
        }
    }

    &__image {
        background-image: url('../media/About/About_story_hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 51vh;
        max-height: 90rem;
        background-position-x: 65%;
        padding: 1.5rem;
    }

    @include extra-large {
        &__image {
            height: 70vh;
        }
    }

    &__title {
        position: absolute;
        width: calc(100% - 2rem);
        padding-top: 2rem;
        padding-bottom: 2rem;
        bottom: 0;
        background-color: $hero-transparent-color;
    }

    @include small { 
        &__title { 
            width: calc(100% - 4rem);
        }    
    }

    @include medium { 
        &__title { 
            width: calc(100% - 8rem);
        }    
    }

    @include large { 
        &__title { 
            width: calc(100% - 12rem);
        }    
    }
}

