{% extends  base %}
{% block  content %}

<section class="hero"> 
    <div class="hero__image">
    </div>  

    <div class="hero__title h-layout">

        <div class="about__segmented-control">
            <span class="about__segmented-control__selected"></span>
            <div class="about__segmented-control__story">Story</div>
            <div class="about__segmented-control__mission">Mission</div>
            
        </div>

    </div>

</section>

<section class="story h-layout">

    <article class="story__article">
            <span class="story__article__decorative__title">1997</span>
            <h2 class="story__article__title">1997</h2>

            <div class="story__article__content">
                <img class="story__article__content__image" src="media/About/About_story_original.jpg" alt="The original">

                <div class="story__article__content__text">
                    <h3>The original</h3>

                    <p>This tale begins with our namesake’s profession: the ambassador. Like all envoys, the original ambassador’s job was to be the manifestation of his homeland on foreign soils. But, he was always different. Regardless of where his work took him, he stood out and became renowned for his refined taste for everything vintage.</p>
                
                    <p>His suits were tailored to fit his mid 20th century style, his hair reflected a comb-over that many thought had been lost to another era, and his demeanour was class itself. He captivated crowds and demanded crisp perfection. The ambassador was timeless.</p>
                </div>

            </div>

    </article>

    <article class="story__article">
            <span class="story__article__decorative__title">2001</span>
            <h2 class="story__article__title">2001</h2>

            <div class="story__article__content">
                <img class="story__article__content__image" src="media/About/About_story_spark.jpg" alt="The original">

                <div class="story__article__content__text">
                    <h3>The spark</h3>

                    <p>A naturally observant person, our founder couldn’t help but critique the ambassador like one would an old photograph. It was clear She wasn’t ordinary. As she was scrutinizing this archaic-being, a glimmer from the evening sun reflected off an exemplary timepiece on her left arm. This was the moment everything aligned. In a divine sequence, the igniting of that match and pipe would forever signify something genius. After it was clear the pipe had been lit, our founder complemented the ambassador on the art engulfing her broad wrist, sparking a conversation that was too alluring to be coincidence.</p>
                
                </div>

            </div>

    </article>

    <article class="story__article">
            <span class="story__article__decorative__title">2021</span>
            <h2 class="story__article__title">2021</h2>

            <div class="story__article__content">
                <img class="story__article__content__image" src="media/About/About_story_collection.jpg" alt="The original">

                <div class="story__article__content__text">
                    <h3>The collection</h3>

                    <p>Both felt an uncomfortable familiarity with one another. Bonding over cities, and unrealized ambitions, our founder told the ambassador about her childhood dream to create a watch that could be a parody of itself, literally withstanding time. Yet, as it is with so many visions, to marry ambition to action was a commitment she still hadn’t made. It wasn’t until that unforgettable night had come to an end, and the ambassador had driven away, that the heart of Ambassador finally began to flutter in our founder’s chest. An unquantifiable pulse that has sparked the Heritage Collection, this was the beginning.</p>
                
                </div>

            </div>

    </article>




</section>


{% endblock %}