{% extends  base %}
{% block  content %}

<section class="hero"> 
    <div class="hero__image hero__image--about">
    </div>  
</section>

<div class="about__segmented-control">
    <span class="about__segmented-control__selected"></span>
    <div class="about__segmented-control__story">Story</div>
    <div class="about__segmented-control__mission">Mission</div>
    
</div>

<section class="about-story h-layout">

    <article class="about__article">
            <span class="about__article__decorative__title">1997</span>
            <h2 class="about__article__title">1997</h2>

            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_story_original.jpg" alt="The original">

                <div class="about__article__content__text">
                    <h3>The original</h3>

                    <p>This tale begins with our namesake’s profession: the ambassador. Like all envoys, the original ambassador’s job was to be the manifestation of his homeland on foreign soils. But, he was always different. Regardless of where his work took him, he stood out and became renowned for his refined taste for everything vintage.</p>
                
                    <p>His suits were tailored to fit his mid 20th century style, his hair reflected a comb-over that many thought had been lost to another era, and his demeanour was class itself. He captivated crowds and demanded crisp perfection. The ambassador was timeless.</p>
                </div>

            </div>

    </article>

    <article class="about__article">
            <span class="about__article__decorative__title">2001</span>
            <h2 class="about__article__title">2001</h2>

            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_story_spark.jpg" alt="The original">

                <div class="about__article__content__text">
                    <h3>The spark</h3>

                    <p>A naturally observant person, our founder couldn’t help but critique the ambassador like one would an old photograph. It was clear She wasn’t ordinary. As she was scrutinizing this archaic-being, a glimmer from the evening sun reflected off an exemplary timepiece on her left arm. This was the moment everything aligned. In a divine sequence, the igniting of that match and pipe would forever signify something genius. After it was clear the pipe had been lit, our founder complemented the ambassador on the art engulfing her broad wrist, sparking a conversation that was too alluring to be coincidence.</p>
                
                </div>

            </div>

    </article>

    <article class="about__article">
            <span class="about__article__decorative__title">2021</span>
            <h2 class="about__article__title">2021</h2>

            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_story_collection.jpg" alt="The original">

                <div class="about__article__content__text">
                    <h3>The collection</h3>

                    <p>Both felt an uncomfortable familiarity with one another. Bonding over cities, and unrealized ambitions, our founder told the ambassador about her childhood dream to create a watch that could be a parody of itself, literally withstanding time. Yet, as it is with so many visions, to marry ambition to action was a commitment she still hadn’t made. It wasn’t until that unforgettable night had come to an end, and the ambassador had driven away, that the heart of Ambassador finally began to flutter in our founder’s chest. An unquantifiable pulse that has sparked the Heritage Collection, this was the beginning.</p>
                
                </div>

            </div>

    </article>

</section>

<section class="about-mission h-layout">

    <article class="about__article">
            <span class="about__article__decorative__title--mission">Mission & Vision</span>
            <h2 class="about__article__title--mission">Mission & Vision</h2>

            <div class="about__article__content about__article__content--center">
                <div class="about__article__content__text about__article__content__text--center">
                    <p>We believe that your watch should accompany you through every important event - the lessons, successes, and celebrations thereof. This is why we build our watches with longevity and a lifetime of enjoyment in mind. Every one of our watches is backed by a comprehensive 10-year warranty, ensuring that your favorite timepiece is with you for life.</p>
                </div>

                <img class="about__article__content__image about__article__content__image--center" src="media/About/About_mission_mission-vision.jpg" alt="Mission & vission">

            </div>

    </article>

    <section>
        <span class="about__article__decorative__title--mission">Core Values</span>
        <h2 class="about__article__title--mission">Core Values</h2>

        <article class="about__article">
            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_mission_craftmanship.jpg" alt="Craftmanship">

                <div class="about__article__content__text">
                    <h3>Craftmanship</h3>

                    <p>Here at Ambassador, we never settle for ordinary. That's why every single timepiece we make undergoes an extremely detailed quality assurance process that is the hallmark of true Swedish craftsmanship. All of our watches are designed in Stockholm, Sweden by expert watchmakers.</p>
                
                </div>

            </div>

    </article>

        <article class="about__article">
            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_mission_quality.jpg" alt="Quality in detail">

                <div class="about__article__content__text">
                    <h3>Quality In detail</h3>

                    <p>Just like you, our watches are exceptional. From precious metals and stones to nacre (otherwise known as "the mother of pearl"), we choose only the finest materials for Ambassador watches. Each bridge, pinion, case, bracelet, and dial is crafted with meticulous detail to guarantee impeccable aesthetics and absolute perfection. Because as an Ambassador, you deserve only the best.</p>

                </div>

            </div>

    </article>

        <article class="about__article">
            <div class="about__article__content">
                <img class="about__article__content__image" src="media/About/About_mission_comfort.jpg" alt="Comfort">

                <div class="about__article__content__text">
                    <h3>Comfort</h3>

                    <p>Your Ambassador watch is a testament to exceptional style and elegance. That's why we create our timepieces for everyday wear. Featuring a slim 9mm-thick and 40mm-wide watch case with sleek, elegant lugs and soft, genuine leather straps that fit any wrist-size perfectly.</p>
                
                </div>

            </div>

    </article>


    </section>

</section>


{% endblock %}