{% extends  base %}
{% block  content %}

<ul>
        {% for order in orders %}
            <li>
                <p style="color:white;">{{order.order_number}} ordernumber</p>
                <p style="color:white;">{{order.Order_product.quantity}} quantity</p>
                <p style="color:white;">{{order.delivery_date}} shipped</p>
                <img src="/media/products/{{order.Order_product.Product.image}}" />
            <li>
        {% endfor %}
    </ul>    


{% endblock %}