.nav {
    text-align: center;
    font-size: $text-m;
    overflow: hidden;

    &__actions {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 1rem;

        svg {
            cursor: pointer;
        }

        &__close {
            width: 2rem;
            fill: $white-color;
        }

    }

    &__border {
        width: 105%;
        transform: translateX(-5%);
    }

    &__list {
        list-style: none;
        padding: 1rem 0;

        &__item {
            margin-bottom: 3.5rem;

            a {
                color: $white-color;
                text-decoration: none;
                padding: 1rem 1rem;
                border-radius: $border-radius-sm;
                transition: $transition-regular;

                &:hover {
                    color: $black-color;
                    background-color: $nav-transparent-color;
                }
            }

            &--accesoiries {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__chevron {
                margin-left: 1rem;
                width: 2rem;
                fill: $white-color;
            }

            button {
                color: $white-color;
                background: none;
                border: none;
                cursor: pointer;
            }

        }

        .accesoires-dropdown__options {
            display: none;
            list-style: none;
            padding: 0;
            margin-top: -2rem;
            margin-bottom: 2rem;

            a {
                color: $accent-color;
                text-decoration: none;
                font-size: $text-btn;
                margin-bottom: 1rem;
                display: block;
            }

            &--open {
                display: block;
            }
        }
    }
}